<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- debug builds only: drive the app from adb (see DebugReceiver) -->
        <receiver
            android:name=".debug.DebugReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="net.prototux.lapin.DEBUG_CONFIG" />
                <action android:name="net.prototux.lapin.DEBUG_TEXT" />
                <action android:name="net.prototux.lapin.DEBUG_ACTIVATE" />
                <action android:name="net.prototux.lapin.DEBUG_CONFIRM" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
